body{
	font-family:'Roboto', sans-serif;
}
.background {
	background: #f6f6f6;
}
.content2 {
	background: #ffffff;
	width: 800px;
	height: 600px;
	margin:0 auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	border-radius: 5px;
}
.center {
    width: 1000px;
    height: 700px;
    max-height: 100%;
    margin: auto;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 5px;
}
.pos {
    font-size: 60;
    top: -20px;
    text-align: center;
    position: absolute;
    left: 430px;
    z-index: 0;
}
.iphone{
	left: 400px;
	z-index: 3;
	position: absolute;
}
.macbook{
	left: 0%;
	z-index: 1;
	position: absolute;
  right: 25%;
}
.ipad{
	left: 330px;
	z-index: 2;
	position: absolute;
}
.card-1 {
		top: 115px;
     -webkit-transition: top 0.2s ease-out 0.1s;
     -moz-transition: top 0.2s ease-out 0.1s;
     -o-transition: top 0.2s ease-out 0.1s;
     transition: top 0.2s ease-out 0.1s;
}
.card-1:hover {
  top: 100px;
}
.card-2 {
		top: 147px;
     -webkit-transition: top 0.2s ease-out 0.1s;
     -moz-transition: top 0.2s ease-out 0.1s;
     -o-transition: top 0.2s ease-out 0.1s;
     transition: top 0.2s ease-out 0.1s;
}
.card-2:hover {
  top: 132px;
}

.card-3 {
		top: 183px;
     -webkit-transition: top 0.2s ease-out 0.1s;
     -moz-transition: top 0.2s ease-out 0.1s;
     -o-transition: top 0.2s ease-out 0.1s;
     transition: top 0.2s ease-out 0.1s;
}
.card-3:hover {
  top: 168px;
}
@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
	
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}