body{
	font-family:'Roboto', sans-serif;
}
.background {
	background: #4d515e;
}
.content {
	background: #ffffff;
	width: 600px;
	height: 400px;
	margin:0 auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	border-radius: 5px;
}
.center {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 50%;
	width: 50%;
	margin: -15% 0 0 -25%;
}
.pos{
	text-align: center;
}
.iphone{
	height:352px; 
	width:352px;
	z-index: 3;
	position: absolute;
}
.macbook{
	height:450px;
	width:750px;
	z-index: 1;
	position: absolute;
}
.ipad{
	height:336px;
	width:226px;
	z-index: 2;
	position: absolute;
	left:300px;
}
